<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Apiary Project Text and URL Comparer</title>
  <link rel="stylesheet" type="text/css" media="screen,projection" href="assets/css/colorbox.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/diff.css" />
  <script type="text/javascript" src="assets/js/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="assets/js/floating_dialog/jquery.form.js"></script>
  <script type="text/javascript" src="assets/js/floating_dialog/interface.js"></script>
  <script type="text/javascript" src="assets/js/jquery.colorbox.js"></script>
  <script type="text/javascript" src="assets/js/apiary.comparer.js"></script>
   {literal}
  <style type="text/css" media="screen">
  	input {font-size:1em; padding:3px; font-weight:600; margin: 3px 0;}
  </style>
  <script type="text/javascript">
    var drupal_url = '{/literal}{$drupal_url}{literal}';
	$(document).ready(function(){
	  get_comparer_options();
	});

  </script>
	{/literal}

</head>
<body>
<div id="comparer">
</div><!-- comparer -->
<div class="nothing" style="display:none;">
<div id="text_compare" style>
</div><!-- text_compare -->
<div id="url_compare" style>
</div><!-- url_compare -->
</div><!-- nothing -->
</body>
