{include file="header.tpl.html" header_title=$header_title}

<a href="errorlog_list.php">back to errorlog</a>
<div class="section">
{if $errorlog_record.errorlog_id != 1}
<a href='errorlog_display_info.php?id={$errorlog_record.errorlog_id-1}'>&lt;previous record</a>&nbsp;&nbsp;
{/if}
{if $errorlog_record.errorlog_id != $last_insert_id}
<a href='errorlog_display_info.php?id={$errorlog_record.errorlog_id+1}'>&nbsp;&nbsp;next record&gt;</a>
{/if}
<a href='errorlog_display_info.php?id=last_id'>last record&gt;|</a>
<br>
<br>
<table class="list_table">	
<tr class="e">
  <tr>
    <td valign='top'><b>Timestamp:</b></td>  
    <td>{$errorlog_record.errorlog_timestamp}</td>
  </tr>
  <tr>
    <td valign='top'><b>Type:</b></td>  
    <td>{$errorlog_record.errorlog_type}</td>
  </tr>
  <tr>
    <td valign='top'><b>Error:</b></td>  
    <td><font color=red>{$errorlog_record.errorlog_string}</font></td>
  </tr>
  <tr>
    <td valign='top'><b>Status:</b></td>  
    <td>{$errorlog_record.errorlog_status}</td>
  </tr>
  <tr>
    <td valign='top'><b>Environment:</b></td>  
    <td>{$errorlog_record.errorlog_environment}</td>
  </tr>
</table>
</div><!-- end section div -->
{literal}
<script language="JavaScript">
<!--
    //window.onload = checkBoxStatus();

-->
</script>
{/literal}

{include file="footer.tpl.html"}