{include file="header.tpl.html" header_title=$header_title features="login_popup|pagination"}

<br/>
<div class="section">
<div class="noTextDecor">
<form method="get" action="errorlog_list.php">
    <input type="text" name="search" value="{$smarty.get.search}">
    <input type="submit" name="action" value="search">
</form> 
    {if $smarty.session.admin_type > 4 }
<!--a STYLE="text-decoration:none" href="clear_error_log.php"><img src="images/icon_delete.gif"/> Clear error log</a-->
{/if}
</div>
<div class="pagination">
    <ul>
        {if $num_rows_shown != $num_rows}
        {if $previous_page}
        <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start=0' class="first">first</a></li>
        <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_values[$previous_page]}' class="previous">previous</a></li>
        {else}
        <li><span class="first">first</span></li>
        <li><span class="previous">previous</span></li>
        {/if}
        {if $num_pages > 1}
        {foreach from=$page_values key=key item=page_value}
        {if $current_page == $key}
            <li><span class="current" title="Current page">{$key}</span></li>
        {else}
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_value}'>{$key}</a></li>
        {/if}
        {/foreach} 
        {/if}
        {if $next_page}
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_values[$next_page]}' class="next">next</a></li>
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$last_rows_start}' class="last">last</a></li>
        {else}
            <li><span class="next">next</span></li>
            <li><span class="last">last</span></li>
        {/if}
        {else}
        {if $num_rows > $page_control_number}
            <li><a href='{$url_for_pagelink}'>show pages</a></li>
        {/if}
        {/if}
    </ul>
</div><!-- /pagination -->

<div style="display:block;">                                    
                   
{if $num_rows > 0 }                 
<table class="list_table">    
<tr class="e" style="background-color:#e4e4e4;">
  <th scope="col">Timestamp</th>
  <th scope="col">Type</th>
  <th scope="col">Log String</th>
  <th scope="col">Status</th>
  <th scope="col">Environment</th>
</tr>
{foreach from=$errorlog_records item=current_row name=loop}
{if $smarty.foreach.loop.index % 2 != 0 }
<tr style="background-color: #f4f4f4;" onMouseOver="this.style.backgroundColor='#E5F2F2'" onMouseOut="this.style.backgroundColor='#f4f4f4'">
{else}
<tr style="background-color: #fff;" onMouseOver="this.style.backgroundColor='#E5F2F2'" onMouseOut="this.style.backgroundColor='#fff'">
{/if}
  <td><a href='errorlog_display_info.php?id={$current_row.errorlog_id}'>{$current_row.errorlog_timestamp}</a></td>
  <td><a href='errorlog_display_info.php?id={$current_row.errorlog_id}'>{$current_row.errorlog_type}</a></td>
  <td><a href='errorlog_display_info.php?id={$current_row.errorlog_id}'>{$current_row.errorlog_string|truncate:60}</a></td>
  <td><a href='errorlog_display_info.php?id={$current_row.errorlog_id}'>{$current_row.errorlog_status}</a></td>
  <td><a href='errorlog_display_info.php?id={$current_row.errorlog_id}'>{$current_row.errorlog_environment|truncate:40}</a></td>
</tr>
{/foreach} 
</table>
{/if}
</div>

<div class="pagination">
    <ul>
        {if $num_rows_shown != $num_rows}
        {if $previous_page}
        <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start=0' class="first">first</a></li>
        <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_values[$previous_page]}' class="previous">previous</a></li>
        {else}
        <li><span class="first">first</span></li>
        <li><span class="previous">previous</span></li>
        {/if}
        {if $num_pages > 1}
        {foreach from=$page_values key=key item=page_value}
        {if $current_page == $key}
            <li><span class="current" title="Current page">{$key}</span></li>
        {else}
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_value}'>{$key}</a></li>
        {/if}
        {/foreach} 
        {/if}
        {if $next_page}
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$page_values[$next_page]}' class="next">next</a></li>
            <li><a href='{$url_for_pagelink}&amp;num={$page_control_number}&amp;start={$last_rows_start}' class="last">last</a></li>
        {else}
            <li><span class="next">next</span></li>
            <li><span class="last">last</span></li>
        {/if}
        {else}
        {if $num_rows > $page_control_number}
            <li><a href='{$url_for_pagelink}'>show pages</a></li>
        {/if}
        {/if}
    </ul>
</div><!-- /pagination -->

</div><!-- end section div -->


{include file="footer.tpl.html"}