    <div id="step1_east_section">
    	<div class="_widget-title">
    	</div>
    	<h2>No Specimen Selected</h2>

    	<div class="_widget-footer">
    	</div>
    </div><!-- #analyze_panel -->
    <div id="step2_east_section">

        <div id="tab_nav" class="tab1">
        <div class="tab_nav">
        <ul class="breadcrumbs">
        <li class="tab1 first" onclick="select_tab('tab_nav','tab1','tab1_section');">Text Transcription<span></span></li>
        <li class="tab2" onclick="select_tab('tab_nav','tab2','tab2_section');">OCR Results<span></span></li>
        <!--li class="tail" >&nbsp;<span></span></li-->
        <li class="info info2 last" onclick="open_popup('help_transcribe.html');">?<span></span></li>
        </ul>
        <span>&nbsp;</span>
        </div>
            <div id="tab1_section" class="tab_section">
                <h3>Transcribe the text from the image to the left into the text area below.</h3>
                <textarea name="transcribe_control" id="transcribe_control"  rows="50" cols="80" style="width: 80%">Enter your comment here...</textarea><br/>
				<button class="customBtn" onclick="save_transcribe_text();"><span>Save text</span></button>
				<!--button id="end_session_link" value="end_session_link" class="customBtn" ><span>End Session</span></button-->
            </div>
            <div id="tab2_section" class="tab_section">
                <h3>OCR controls</h3>
				<div id="ocr">
					<table>
						<tbody>
							<tr><td>
								<div style="margin: 5px 0px 0px 5px;">
									<span>
										<b>OCRAD</b>
										<img style="border-style: none;" src="assets/img/document-revert.png" title="Click to copy text to main transcription textarea." onclick="copy_ocr('ocrad')">
										<input type="button" onclick="reprocess_ocr('ocrad')" value="Reprocess" id="reprocess_ocrad_button">
										<img style="visibility: hidden;" id="reprocessing_ocrad" src="assets/img/processing_ani.gif">
									</span>
								</div>
								<textarea name="ocrad" style="width: 90%; height: 100px; margin: 5px;" id="ocrad"></textarea>
							</td></tr>
							<tr><td>
								<div style="margin: 5px 0px 0px 5px;">
									<span>
										<b>OCRopus</b>
										<img style="border-style: none;" src="assets/img/document-revert.png" title="Click to copy text to main transcription textarea." onclick="copy_ocr('ocropus')">
										<input type="button" onclick="reprocess_ocr('ocropus')"  value="Reprocess" id="reprocess_ocropus_button">
										<img style="visibility: hidden;" id="reprocessing_ocropus" src="assets/img/processing_ani.gif">
									</span>
								</div>
								<textarea name="ocropus" style="width: 90%; height: 100px; margin: 5px;" id="ocropus"></textarea>
							</td></tr>
							<tr><td>
								<div style="margin: 5px 0px 0px 5px;">
									<span>
										<b>GOCR</b>
										<img style="border-style: none;" src="assets/img/document-revert.png" title="Click to copy text to main transcription textarea." onclick="copy_ocr('gocr')">
										<input type="button" onclick="reprocess_ocr('gocr')" value="Reprocess" id="reprocess_gocr_button">
										<img style="visibility: hidden;" id="reprocessing_gocr" src="assets/img/processing_ani.gif">
									</span>
								</div>
								<textarea name="gocr" style="width: 90%; height: 100px; margin: 5px;" id="gocr"></textarea>
							</td></tr>
						</tbody>
					</table>
				</div>
            </div>
        </div><!-- #tab_nav -->
    </div>

    <div id="step3_east_section">
	<div class="widget-title">
	    <div class="widget-title-help-button floatright" onclick="open_popup('help_parse_controls.html');">
	        &nbsp;
        </div><!-- .widget-title-help-button -->
	    <h3>Parse</h3>
	    <div class="widget-title-content">
    	</div>
	</div>
	<div id="parse-control-content" style="text-align:left;">
	<ul id="parse-treeview" class="treeview-gray">
		<li>
			<span>Who and When</span>
		</li>
		<li>
			<span>What</span>
		</li>
		<li>
			<span>Where</span>
		</li>
	</ul>
    <div id="divPush"></div>
	</div><!-- #parse-control-content -->
	<div id="parse_buttons">
    <button class="customBtn" onclick="save_parse_text();"><span>Save Parsed Text</span></button>
    <button class="customBtn" onclick="find_taxa_via_ubio();"><span>Find taxa via uBio</span></button>
    <button class="customBtn" onclick="herbis_nlp();"><span>Parse using HERBIS</span></button>
    </div>

    </div><!-- #step3_east_section -->

