<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Workflow Editor</title>
  <link rel="stylesheet" type="text/css" media="screen,projection" href="assets/css/colorbox.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection" href="assets/css/jquery.multiselect2side.css" />
  <script type="text/javascript" src="assets/js/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="assets/js/floating_dialog/jquery.form.js"></script>
  <script type="text/javascript" src="assets/js/floating_dialog/interface.js"></script>
  <script type="text/javascript" src="assets/js/jquery.colorbox.js"></script>
  <script type="text/javascript" src="assets/js/jquery.multiselect2side.js"></script>
  <script type="text/javascript" src="assets/js/apiary.workflow.js"></script>
  <script type="text/javascript" src="assets/js/apiary.user.js"></script>
  <script type="text/javascript" src="assets/js/apiary.object_pool.js"></script>
   {literal}
  <style type="text/css" media="screen">
  	input {font-size:1em; padding:3px; font-weight:600; margin: 3px 0;}
  </style>
  <script type="text/javascript">
    var workflow_id = '{/literal}{$workflow_id}{literal}';
    var drupal_url = '{/literal}{$drupal_url}{literal}';
    var drupal_user_count = 0;//no quotes, this is a number
    var object_pool_count = 0;
	$(document).ready(function(){
	  if(!workflow_id.length) {
	    workflow_id = "0";
      }
	  load_workflow(workflow_id);
	});

  </script>
	{/literal}

</head>
<body>
<div id="workflow">
</div><!-- workflow -->
<div class="nothing" style="display:none;">
<div id="drupal_user" style>
</div><!-- drupal_user -->
<div id="object_pool" style>
</div><!-- drupal_user -->
</div><!-- nothing -->
</body>
