	<div class="widget-title">
	    <div class="widget-title-help-button floatright" onclick="open_popup('help_my_task_queue.html');">
	        &nbsp;
        </div><!-- .widget-title-help-button -->
	    <span class="task_queue_header">Task Queue</span>
        <div class="task_queue_button"><img  id="west_page_additem_button" class="add_items_link" src="assets/img/add_items_button_dark.png" onmouseover="toggle_additem_button('down');" onmouseout="toggle_additem_button('up');"/></div>
	    <div class="widget-title-content">
	    <!--a href="#" class="add_items_link" onclick="myLayout.close('west');">add new items</a-->
    	</div>
	</div>
    <div id="queue_list">
    </div><!-- queue_list -->
	<div class="widget-footer">
	</div>
