<div id="progress_nav" class="step1">
    <div class="sub_nav">
        <ul class="breadcrumbs">
        <li class="step step1 selected first" id="step1" step="Analyzing" onclick="select_nav('step1');">Analyze Specimen<span></span></li>
        <li class="step step2" id="step2" step="Transcribing" onclick="select_nav('step2');">Transcribe Text<span></span></li>
        <li class="step step3" id="step3" step="Parsing" onclick="select_nav('step3');">Parse Text<span></span></li>
        <li class="tail" >&nbsp;<span></span></li>
        <li class="info info2 last" onclick="open_popup('help.html');">?<span></span></li>
        <li class="info info1" onclick="open_popup('getting_started.html');">Getting Started<span></span></li>
        </ul>
    <span>&nbsp;</span>
    </div><!-- .sub_nav -->
</div><!-- #progress_nav -->


